@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Righteous&display=swap');

*,
:after,
:before {
    box-sizing: border-box;

}


body {
    font-family: 'VCR OSD Mono','IBM Plex Mono', 'Segoe UI', Tahoma, Geneva, Verdana;
    cursor: url("../assets/image/cursor1.png"), auto;
    background-image: url('../assets/image/bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.9;

}

a:hover {
    cursor: url("../assets/image/linkCursor.svg"), auto;
    background-color: rgb(8, 164, 8);
    transition: 150ms;
    padding: 1px;

}


.aa:hover {
    background-image: url('../assets/image/rainbow.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

body,
html,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}





.header {
    position: relative;
    min-height: 300px;
    height: 50vh;
    margin-bottom: 2.07rem;
    text-transform: uppercase
}

.header__container {
    position: -webkit-sticky;
    position: sticky;
    top: 100px
}

@media (min-width:500px) {
    .header__container {
        display: flex;
        justify-content: space-between
    }

    .header__info {
        text-align: right
    }
}

.nav__breadcrumb {
    display: flex;
    align-items: center;
    min-height: 28px
}

.nav__breadcrumb li:last-child {
    display: flex;
    align-items: center
}

.nav__breadcrumb li:last-child:after {
    margin-left: .5ch;
    content: "►";
    font-size: 1.2em
}

@media (max-width:480px) {
    .nav {
        margin-bottom: 2rem
    }

    .nav__menu li {
        margin-top: .6rem
    }
}

.big-text {
    font-size: clamp(24px, 4.6vw, 63px);
    font-size: var(--font-size-secondary);
    text-transform: uppercase
}

.button-text {
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    background: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    all: inherit;
    padding: 0;
    border: none;
    display: inline;
    color: #fff;
    color: var(--text-secondary);
    line-height: .9;
    -webkit-appearance: none;
    appearance: none
}

.button-text,
a {
    position: relative;
    text-decoration: none;
    color: #fff;
    color: var(--text-secondary);
    background-position: 50%;
    background-size: 90% 0;
    background-repeat: no-repeat
}

html:not(.webp) .button-text,
html:not(.webp) a {
    background-image: url(/assets/images/rainbow-static.gif)
}





.tv {
    position: relative;
    background-color: #000;
    overflow: hidden;
    margin: 0 auto
}

.tv-screen {
    animation: turn-on-transform .4s, turn-on-filter 1s
}

.tv-effect {
    position: absolute;
    z-index: 8;
    z-index: var(--layer-tv-effects);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.tv-content {
    position: relative;
    z-index: 13;
    z-index: var(--layer-content);
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    background-color: rgba(0, 0, 0, .4)
}




:root {
    --text-primary: #bcb9b9;
    --text-secondary: #fff;
    --font-primary: "VCR OSD Mono", monospace;
    --font-size-primary: clamp(16px, 1.8vw, 34px);
    --font-size-secondary: clamp(24px, 4.6vw, 63px);
    --line-height: 1.4;
    --layer-top: 55;
    --layer-me-hover: 34;
    --layer-content-hover: 21;
    --layer-content: 13;
    --layer-tv-effects: 8;
    --layer-channels: 5;
    --glitchy-blue: rgba(2, 183, 182, 0.4);
    --glitchy-red: rgba(183, 2, 2, 0.4);
    --container-width: 80%;
    --gui-side: calc(50% - var(--container-width)/2);
    --gui-bottom: 2.94117647059rem
}

* {
    scrollbar-color: #1d1d1e;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #080808;
}

html {
    font-family: 'VCR OSD Mono','IBM Plex Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: var(--font-primary);
    font-weight: 500;
    font-style: normal;
    color: #fff;
    color: var(--text-primary);
    font-size: clamp(16px, 1.8vw, 34px);
    font-size: var(--font-size-primary);
    line-height: 1.4;
    line-height: var(--line-height);
}

body {
    background-color: rgb(52, 51, 51);
    overflow: hidden;
}

.tv,
.tv-content,
.tv-screen,
body,
html {
    height: 100%;
}

.page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 100%;
    min-height: 100vh;
    width: 80%;
    width: var(--container-width);
    margin: 0 auto
}
a,
.glitchy-text {
    --shadow-x-distance: 2px;
    --shadow-y-distance: 2px;
    text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 rgba(2, 183, 182, 0.4), calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 rgba(183, 2, 2, 0.4);
    text-shadow: var(--shadow-x-distance) var(--shadow-y-distance) 0 var(--glitchy-blue), calc(var(--shadow-x-distance)*-1) calc(var(--shadow-y-distance)*-1) 0 var(--glitchy-red);
}

@media (min-width:481px) {
    .glitchy-text {
        --shadow-x-distance: 1px;
        --shadow-y-distance: 1px
    }
}

@media (min-width:960px) {
    .glitchy-text {
        --shadow-x-distance: 4px;
        --shadow-y-distance: 3px
    }
}